.contact {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 12rem;
  min-height: 100vh;
  padding: 2rem 1.5rem;
  background-color: var(--light-navy);
  border-top: 1px solid var(--lightest-navy);
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  > * {
    max-width: 700px;
    width: 100%;
  }

  .contact-overline {
    color: var(--theme-color);
    font-size: var(--tbase);
    font-family: var(--fira-code);
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  .contact-sub-title {
    font-size: var(--tgiant);
    font-family: var(--raleway);
    font-weight: 700;
    color: var(--lightest-slate);
    line-height: 1.1;
    white-space: nowrap;
  }

  .contact-text {
    color: var(--slate);
    font-size: var(--tlarge);
    letter-spacing: 0.02em;
    line-height: 1.6;
    font-family: var(--raleway);
  }

  .contact-cta {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    .btn {
      padding: 1rem 2.5rem;
      font-size: var(--tbase);
      display: inline-flex;
      align-items: center;
    }
  }
}
